venv3.10/
.env
tortoise/
assets/
action_models/
__pycache__/
other/
edited_output.png
output_snowy_scene.png
output.mp3
test*
tmp/
temp_uploads/
uploaded_documents/
chroma/
chroma_db/
sample*
chroma_data/
.venv/
env/
venv/
*.pyc
*.py[cod]
*.so
*.env
encoded.txt
convert_to_base64.py
*.log
.DS_Store
Thumbs.db
.vscode/
.idea/
