fastapi==0.115.12
uvicorn==0.34.0
requests==2.32.3
opencv-python==4.11.0.86
pytesseract==0.3.13
numpy==1.23.5
Pillow==10.2.0
mediapipe==0.10.21
google-generativeai==0.8.4
psycopg2==2.9.10
sqlalchemy==2.0.40
python-dotenv==1.1.0
protobuf==3.20.0
psycopg2-binary==2.9.10
youtube-transcript-api==1.0.3
gTTS==2.5.4
playsound==1.3.0
vosk==0.3.45
soundfile==0.13.1
python-multipart==0.0.20
colorthief==0.2.1
fer==22.5.1
moviepy==1.0.3
tensorflow-cpu==2.19.0
pydub==0.25.1
torch==2.6.0
torchaudio==2.6.0
tortoise-tts==3.0.0
transformers==4.30.2
tokenizers==0.13.3
numba==0.56.4
huggingface_hub==0.15.1
langchain==0.3.21
langchain-community==0.3.20
passlib[bcrypt]
duckduckgo-search==7.5.5
pydantic==2.10.6
PyJWT==2.3.0
fastapi-limiter==0.1.6
scikit-learn==1.6.1